<a href="https://colab.research.google.com/github/aman3002/ml-practicals/blob/main/knn_scratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data=[["ajay",32,0,"football"],["mark",40,0,"neither"],["sara",16,1,"cricket"],["zaira",34,1,"cricket"],["sachin",55,0,"neither"],["rahul",40,0,"cricket"],["pooja",20,1,"neither"],["smith",15,0,"cricket"],["laxmi",55,1,"football"],["michael",15,0,"football"]]
import numpy as np
import pandas as pd
data=np.array(data)
z=pd.DataFrame(data,columns=["name","age","gender","sports"])
z

      name age gender    sports
0     ajay  32      0  football
1     mark  40      0   neither
2     sara  16      1   cricket
3    zaira  34      1   cricket
4   sachin  55      0   neither
5    rahul  40      0   cricket
6    pooja  20      1   neither
7    smith  15      0   cricket
8    laxmi  55      1  football
9  michael  15      0  football

In [ ]:
import math
def eucledian(a,b):
  w=math.sqrt((a-b)*(a-b))
  return w

def knn(z,n,a):
  d=z.iloc[:,1].values
  k=z.iloc[:,-1].values
  l=[]
  for i in range(len(z)):
    l.append(eucledian(int(d[i]),a))
  game=[]
  for i in range(len(z)):
    game.append([l[i],k[i]])
  game.sort()
  o=[]
  for i in range(n):
    o.append(game[i][1])
  t=[o.count(i) for i in o]
  return (o[t.index(max(t))])
knn(z,3,5)

'cricket'